html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: 'ChosunSg';
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: 'HeirofLightRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'HeirofLightBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YESMyoungjo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YESMyoungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunSg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff%27') format('woff');
  font-weight: normal;
  font-style: normal;
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'ChosunSg';
  font-size: 14px;
  color: #252525;
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: 'ChosunSg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HeirofLightRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeirofLightBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YESMyoungjo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YESMyoungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.con {
  width: 1280px;
  margin: 0 auto;
}


.flex {
  display: flex;
}

.flex-1-0-0 {
  flex: 1 0 0;
}

.flex-ai-c {
  align-items: center;
}

.flex-ai-sb {
  align-items: stretch;
}

.flex-as-c {
  align-self: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-end {
  justify-content: end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.block {
  display: block;
}

.img-box>img {
  width: 100%;
  display: block;
}





.top-wrap>.top-box1 {
  margin: 20px auto 15px;
  width: 1280px;
}

.line {
  width: 100%;
  height: 1px;
  background: #ccc;
  z-index: 10;
  display: block;
}

.top-wrap>.top-box1>div,
.icon-box {
  width: 33.3%;
}

.top-wrap>.top-box1>.icon-box {
  float: left;
}

.top-wrap>.top-box1>.icon-box>.icon {
  padding: 0 0 0 15px ;
  text-align: center;
  float: left;
  display: flex;
  font-family: 'ChosunSg';
}

.top-wrap>.top-box1>.icon-box>.cart {
  padding: 0 15px 0 15px;
}

/* .top-wrap>.top-box1>.icon-box>.login {
  background: red;
}

.top-wrap>.top-box1>.icon-box>.join {
  background: blue;
}

.top-wrap>.top-box1>.icon-box>.cart {
  background: green;
} */

.top-wrap>.top-box1>.icon-box>.icon>.line-icon {
  display: flex;
  width: 1px;
  height: 50px;
  background:#707070;
  margin: 1px 0 0 15px;
}

/* .top-wrap>.top-box1>.icon-box>.icon:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 50px;
  margin: -10px 40px;
  background:#707070;
} */

.top-wrap>.top-box1>.icon-box>.icon>a>.img-box {
  width: 31px;
  margin-bottom: 4px;
}

.top-wrap>.top-box1>.icon-box>.cart>a>.img-box {
  width: 33px;
  margin-bottom: 2px;
}

.top-wrap>.top-box1>.logo-box>.img-box>a>img {
  width: 150px;
}



.top-wrap>.top-box1> .search_wrap >.search-box > .schBtn >input[type=image]  {
  width: 30px;
  height: 30px;
}







.top-wrap>.top-box1> .search_wrap > .search-box .form {
  width:0;
  padding:0;
  margin:0;
  outline:0;
  border:0;
  border-bottom:1px solid transparent;
  transition:width .3s, border-bottom-color .3s;
  background-color:transparent;
  color:#707070;
  margin-right:10px;
  padding:10px;
  display:block;
  box-sizing:border-box;
}

.top-wrap>.top-box1> .search_wrap > .search-box:hover  .form  {
  width:170px;
  border-bottom-color: #707070;
}














.top-wrap>.top-box2 {
  margin: 0px auto;
  width: 100%;
  font-size: 18px;
  color: #707070;
  background:white;
  z-index: 100;
  font-family: 'ChosunSg';
  text-align: center;
  height: 60px;
}

.top-wrap>.top-box2>ul {
  width: 80%;
  margin: 0px auto;
}

.top-wrap>.top-box2>ul>li {
  width: 256px;
  padding: 20px 0px;
  position: relative;
  transition: all .4s;

}

.top-wrap>.top-box2>ul>li:hover {
  background: #ffeded;
}

.top-wrap>.top-box2>ul>li>div {
  visibility: hidden;
  position: absolute;
  z-index: 10;
}

/* .top-wrap > .top-box2 > ul>li:hover> div */
.top-wrap>.top-box2>ul>li:hover>div {
  visibility: visible;
  position: absolute;
  left: 0%;
  margin-top: 20px;
  background: white;
  width: 100%;
  transition: all .4s;
}

/* .top-wrap > .top-box2 > ul>li:hover> div > ul > li */
.top-wrap>.top-box2>ul>li:hover>div>ul>li {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  transition: all .4s;
}

.top-wrap>.top-box2>ul>li:hover>div>ul>li:hover {
  background: #ffeded;
}


.top-wrap>.top-box2>ul>li>div>ul>li:last-child::after {
  border: none;
}










/* vidio */
#coverbg_356823 {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0px;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
  height: 100%;
}


#box_356824_obj_mask_0{
  width:100%;
  left:40%;
  top: 50%; 
  position:relative; 
  z-index:2;
  box-sizing:border-box;
  background-repeat:no-repeat;
}

.imgs{
  margin-top: 200px; 
  margin-left: 74%;
  
  
}
.imgs > img{
  width: 40px;
}
 #box_356824_obj_mask_1{
  margin-top:20px !important;
  position:relative; 
  z-index:2;
  box-sizing:border-box;
  background-repeat:no-repeat; 
  left: 37%; 
 }
#box_356824_obj_mask_2{
  left:40%; 
  margin-top: 55px;  
  width:100%;  
  position:relative; 
  z-index:2;
  box-sizing:border-box; 
  background-repeat:no-repeat;
}
#mask_subject{
  font-size:30px;
  color:#ffffff;
  letter-spacing:7px;
  line-height:40px;
  text-align:center;
  padding-top:15px !important;
  padding-bottom:10px !important;
  font-family:'NotoSansKRLight', 'sans-serif';
}
#mask_content{
  font-size:60px;
  color:#ffffff;
  letter-spacing:-3px;
  line-height:70px;
  text-align:center;
  font-family:'NotoSansKRBlack', 'sans-serif';
}

.small_text{
  position:relative; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  width:100%;
  display:table;
  text-align:center;
  vertical-align:middle;
  font-family:'NotoSansKRLight', 'sans-serif';
  font-size:24px;
  color:#ffffff;
  letter-spacing:-1px;
  line-height:34px;
  padding-top:25px !important;
}

/*intro*/

.intro {
  width: 100%;
  height:700px;
  margin-top: 800px;
  background-color: #fff;

}
.intro > .inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
}


.pink_box{
  width:600px;
  height: 400px;
  background-color: #ffeded;
  float: right;
  margin-top: 85px;
 
  position: relative;
}

.intro_left {
  height: 600px;
  background-image: url(../img/about_1_intro_big-logo.png);
  background-repeat: no-repeat;
  background-size: 350px;
  margin-left: 7%;
  position: relative;
  color: #474747;
  
}
.intro_txt {
 
  padding-top: 150px;
  padding-left: 280px;
  position: relative;
  line-height: 12px;
  
  
}
.intro_txt > h1 {
  font-weight: lighter;
  font-size: 38px;
}

.intro_txt > p {
  font-size: 22px;
}


.building{
 width: 500px;
 position: absolute;
 right: 15%;
 bottom: 100px
}

.building > img {
  width: 500px;

}

/* philosophy */
.philosophy{
  height: 100%;
  margin-top: 150px;
  background-image: url(../img/about-bg1.jpg);
  background-size:auto;
  background-repeat: no-repeat;
}

.philosophy > .inner{
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.philosophy_title{
text-align: center;
padding-top: 100px;
padding-bottom: 50px;
}

.philosophy_title > h1 {
  font-size: 45px;
  color: #fff;
  
  
} 
.philosophy_3menu{
  position: relative;
}
.philosophy_3menu > img{
  width: 100%;
 
}
.philosophy_txt{
  
  width: 50%;
  position: absolute;
  z-index: 3;
  top: 0px;
  color: #fff;
  margin: 80px;


}
.philosophy_txt > h1 {
  font-size: 37px;
  line-height: 45px;
}
.philosophy_txt > h2{
  width: 2cm;
  border-bottom: 1px solid #fff;
}
.philosophy_txt > i{
  font-size: 70px;

}

.philosophy_txt > p {
  font-size: 19px;
  font-weight: lighter;
  line-height: 22px;
}

/* thecare_vidio */
.thecare_vidio{
  width: 100%;
  height: 800px;
  overflow: hidden;
  margin-top: 1800px;
}
.thecare_vidio > .inner{
  width: 1280px;
  position: relative;
  margin: 0 auto;

}
.thecare_vidio_1{

  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  height: 500px;
  z-index:-100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.dynamic_vimeo{
  position:absolute; 
  left:0; 
  top:0; 
  width:100%; 
  height:100%;
}

.thecare_vidio_txt {
  position: absolute;
  z-index: 5;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.thecare_vidio_txt > h1 {
  font-size: 55px;
  font-weight: lighter;


}

.thecare_vidio_txt > p {
  font-size: 22px;
  font-weight: bold;

}

.thecare_vidio_img{
  width: 32%;
  display: inline-block;
  position: relative;
  top: 250px;
  left: 9%;
 

}


.thecare_vidio_img > img {
  position: absolute;
  border-radius: 50%;
  width: 60%;
}

.thecare_vidio_img_txt{
  position: absolute;
  text-align: center;
  margin-top: 61%;
  left: 11%;
  color: #fff;
  font-size: 22px;
}





#doctor .inner{
  width:1170px; margin: 0 auto;
} 

#doctor .inner > .title {
  background: white;
  padding-top: 100px;
  z-index: 200;
}

.wrap{
  display:flex; justify-content:space-around; flex-flow: row wrap; margin-bottom:100px;
}
.wrap2{
  display:flex; justify-content:space-around; flex-flow: row wrap; margin-bottom:100px;
}
@media screen and (max-width: 1200px){
  #doctor .inner{width:100%;}
}


@media screen and (max-width: 768px){
}
#doctor .title{
    font: bold 40px 'inherit'; text-align: center; color: #333;
}
#doctor .title2{
    font:  20px 'inherit'; margin: 30px 0 70px; text-align: center; color: #707070;
}
#doctor .box{
    position:relative; width: 270px;  border-radius: 3px; border: 1px solid #aaaaaa;
    transition: 0.3s;
}
#doctor .box img{
    width: 100%; display: block;
}
#doctor .box .info .bg1{transition: 0.5s;}
#doctor .box:hover .info .bg1 { 
    width: 100px; height: 15px; 
    position:absolute; top: 12px;
    background-color: rgba(255, 126, 132, 0.521); z-index: -1;
}
#doctor .box .info{
    position:absolute; left:0; top:110%; width: 100%; height:100%; 
    display: flex; flex-direction: column; justify-content: space-between; align-items:center;
}
#doctor .box .info .doctor_name{
    margin: 0 0 0px; font:  24px; color: #333;
}
#doctor .box .info .doctor_name>span {
    font: bold 20px 'inehrit'; color: #333;
}


#doctor .box2{
    position:relative; width: 270px;  border-radius: 3px; border: 1px solid #aaaaaa;
    transition: 0.3s;
}
#doctor .box2:last-child {border: 1px solid #fff;}
#doctor .box2 img{
    width: 100%; display: block;
}
#doctor .box2 .info .bg1{transition: 0.5s;}
#doctor .box2:hover .info .bg1 { 
    width: 100px; height: 15px; 
    position:absolute; top: 12px;
    background-color: rgba(255, 126, 132, 0.521); z-index: -1;
}
#doctor .box2 .info{
    position:absolute; left:0; top:360px; width: 100%;
    display: flex; flex-direction: column; justify-content: space-between; align-items:center;
}
#doctor .box2 .info .doctor_name{
    margin: 0 0 0px; font:  24px; color: #333;
}
#doctor .box2 .info .doctor_name>span {
    font: bold 20px 'inehrit'; color: #333;
}


@media (min-width: 1051px) and ( max-width:1300px){
    #doctor .box{width : 33.5%; margin-bottom: 10%;}
    #doctor .box .info{margin-top: 0%;}
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 0%;}
}
@media (min-width: 900px) and ( max-width:1300px){
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 40%;}
}
@media (min-width: 940px) and ( max-width:1060px){
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 10%;}
}

@media (min-width: 851px) and ( max-width:1050px){
    
    #doctor .box{width : 33.5%; margin-bottom: 10%;}
    #doctor .box .info{margin-top: 30%;}
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 30%;}
}
@media (min-width: 912px) and ( max-width:1058px){
    
    #doctor .box{width : 33.5%; margin-bottom: 10%;}
    #doctor .box .info{margin-top: 10%;}
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 40%;}
}
@media (min-width: 770px) and ( max-width:800px){
    
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 20%;}
}
@media (min-width: 743px) and ( max-width:969px){
    
    #doctor .box{width : 33.5%; margin-bottom: 10%;}
    #doctor .box .info{margin-top: 5%;}
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 7%;}
}
@media (min-width: 610px) and ( max-width:700px){
    
    #doctor .box2{width : 33.5%; margin-bottom: 10%;}
    #doctor .box2 .info{margin-top: 10%;}
}

@media (min-width: 500px) and ( max-width:750px){
    #doctor .box{width : 50%; margin-bottom: 20%;}
    #doctor .box .info{margin-top: 3%; }
    #doctor .box2{width : 50%; margin-bottom: 20%;}
    #doctor .box2 .info{margin-top: 20%; }
}







#welcome {
  padding: 100px 0;
}

#welcome .box{width: 50%;}
#welcome .box img{width: 100%; display: block;}
#welcome .box:nth-of-type(1){padding-right: 5%;}

#welcome .box .title{text-align: left; margin-bottom: 40px;}
#welcome .box .txt{font: 14px 'inherit'; color: #666;  margin-bottom: 40px;}
#welcome .box .learn_more{
    display: block; width: 150px; font: bold 16px/50px 'inherit'; color: #fff;
    background-color: orangered; border-radius: 5px; text-align: center;
}

#welcome .inner{width:80%; margin: 0 auto;} 
.content{width:100%; padding: 0px 0;}
.wrap{display:flex; justify-content: space-between;}
.content .title{margin-top: 60px; margin-bottom: 50px; margin-left: 10px;
    font: bold 28px 'inherit'; color: #333;}

.swiper {
  width: 100%; margin: 0 auto; height: auto;
}

.swiper-slide {
  position: relative; height: 700px;
  box-sizing: border-box;  width: 100%; margin: 0 auto;
}

.swiper-slide>.in .img-1 {
  position: absolute; bottom: 0; left: 0;
  margin-left: 0%;
}
.swiper-slide>.in .img-2 {
  position: absolute; top: 0; right: 0%;
}
.swiper-slide>.in .img-2>p{
  color: #757575;
  font-size: 28px;
  margin-top: 10px;
}


.swiper-slide> .in>.text-1 {
  position: absolute;
  top: 10%;
  left: 0%;
  text-align: start;
  z-index: 99;
}

.swiper-slide> .in>.text-1>h1 {
  color: #857a6d;
  font-size: 28px;
  letter-spacing: 0.08em;
  padding-bottom: 0;
  margin-bottom: 0px;
}


.swiper-slide> .in >.text-1>p {
  font: bold 20px;
  color: rgb(0, 0, 0);
  margin-top: 20px;
}


.swiper> .swiper-button-next {
  color: #333;
  margin-right: 0%; margin-top: 20%;
  font-size: 30px; font-weight: 500;
}

.swiper >.swiper-button-prev {
  color: #333;
  opacity: 100%;
  margin-left: 95%; margin-top: 20%;
  font-size: 30px; font-weight: 500;
}
.swiper-button-next::after { font-size: 23px; width: 30px; height: 30px;}
.swiper-button-prev::after { font-size: 23px; width: 30px; height: 30px;} 

.swiper .swiper-pagination-bullet {
  background: #333;
  width: 30px;
  height: 15px;
  opacity: 30%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
   height: 2px; top: auto; background: #000;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 100%;
}


@media (min-width: 1301px) and  ( max-width:1920px) {
  }
  
  @media (min-width: 1051px) and ( max-width:1300px) {
    #welcome .inner{width:80%; margin: 0 auto;} 
    .swiper {
      width: 100%; margin: 0 auto; height: auto;
    }
    .swiper-slide> .in>.text-1{
      display: none;
    }
    .swiper-slide>.in .img-1 {display: none;}
    .swiper-slide>.in .img-2 {
      position: absolute; top: 0; right: 0%;
      width: 100%;
    }
    .swiper> .swiper-button-next {
      color: #333;
      margin-right: 0%; margin-top: 28%;
      font-size: 30px; font-weight: 500;
    }
    
    .swiper >.swiper-button-prev {
      color: #333;
      opacity: 100%;
      margin-left: 90%; margin-top: 28%;
      font-size: 30px; font-weight: 500;
    }
  }
  
  
  @media (min-width: 851px) and ( max-width:1050px) {

    #welcome .inner{width:80%; margin: 0 auto;} 
    .swiper {
      width: 100%; margin: 0 auto; height: auto;
    }
    .swiper-slide> .in>.text-1{
      display: none;
    }
    .swiper-slide>.in .img-1 {display: none;}
    .swiper-slide>.in .img-2 {
      position: absolute; top: 0; right: 0%;
      width: 100%;
    }
    .swiper> .swiper-button-next {
      color: #333;
      margin-right: 0%; margin-top: 38%;
      font-size: 30px; font-weight: 500;
    }
    
    .swiper >.swiper-button-prev {
      color: #333;
      opacity: 100%;
      margin-left: 90%; margin-top: 38%;
      font-size: 30px; font-weight: 500;
    }
  }
  
  
  @media (min-width: 600px) and ( max-width:850px) {

    #welcome .inner{width:80%; margin: 0 auto;} 
    .swiper {
      width: 100%; margin: 0 auto; height: auto;
    }
    .swiper-slide> .in>.text-1{
      display: none;
    }
    .swiper-slide>.in .img-1 {display: none;}
    .swiper-slide>.in .img-2{
      position: absolute; top: 0; right: 0%;
      width: 100%;
    }
    .swiper-slide>.in .img-2>img{
      width: 100%
    }
    .swiper> .swiper-button-next {
      color: #333;
      margin-right: 0%; margin-top: 60%;
      font-size: 30px; font-weight: 500;
    }
    
    .swiper >.swiper-button-prev {
      color: #333;
      opacity: 100%;
      margin-left: 83%; margin-top:60%;
      font-size: 30px; font-weight: 500;
    }
  }
  @media (min-width: 500px) and ( max-width:600px) {

    #welcome .inner{width:80%; margin: 0 auto;} 
    .swiper {
      width: 100%; margin: 0 auto; height: auto;
    }
    .swiper-slide> .in>.text-1{
      display: none;
    }
    .swiper-slide>.in .img-1 {display: none;}
    .swiper-slide>.in .img-2{
      position: absolute; top: 0; right: 0%;
      width: 100%;
    }
    .swiper-slide>.in .img-2>img{
      width: 100%
    }
    .swiper> .swiper-button-next {
      color: #333;
      margin-right: 0%; margin-top: 70%;
      font-size: 30px; font-weight: 500;
    }
    
    .swiper >.swiper-button-prev {
      color: #333;
      opacity: 100%;
      margin-left: 83%; margin-top: 70%;
      font-size: 30px; font-weight: 500;
    }
  }






.map_wrap {
  width: 100%;
  position: relative;
}


.map_wrap > .bg_box > .bg_box1 {
  width: 40%;
  height: 600px;
  background: #FFBEBE;
  z-index: -1;
}

.map_wrap > .bg_box > .bg_box2 {
  width: 60%;
  height: 600px;
  background: #F1E8E8;
  z-index: -1;
}

.map_wrap > .map_box {
  position: absolute;
  top: 8%;
  left: 6%;
}

.map_wrap > .map_box > iframe {
  width: 800px;
  height:500px;
}

.map_wrap > .text_box {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 50%;
  box-sizing: border-box;
  padding: 0px 50px;
  font-size: 17px;
  font-family: 'GowunDodum-Regular';
  color: #3f3f3f;
}

.map_wrap > .text_box > h1 {
  margin: 0 0 10px 0;
}


.map_wrap > .text_box > .text > .text1 {
  width: 30%;
  font-weight: bold;
}

.map_wrap > .text_box > .text > .text1 > p {
  padding: 0 0 10px;
  line-height: 20px;
}


.map_wrap > .text_box > .text > .text2 {
  width: 70%;
}


.map_wrap > .text_box > .text > .text2 > p {
  padding: 0 0 2px;
  line-height: 28px;
}

@media (min-width: 1051px) and ( max-width:1300px){
  .map_wrap {
    width: 100%;
    position: relative;
    margin-top: 200px;
  }
  
  .map_wrap > .map_box {
    position: absolute;
    top: 8%;
    left: 6%;
  }
 
  .map_wrap > .map_box > iframe {
    width: 480px;
    height: 500px;
  }
}

@media (min-width: 851px) and ( max-width:1050px) {
  
.map_wrap {
width: 100%;
position: relative;
margin-top: 100px;
}

.map_wrap > .map_box {
position: absolute;
top: 8%;
left: 6%;
}

.map_wrap > .map_box > iframe {
width: 450px;
height: 500px;
}

.map_wrap > .text_box {
position: absolute;
width: 50%;
top: 15%;
left: 50%;
box-sizing: border-box;
padding: 0px 50px;
font-size: 17px;
font-family: 'GowunDodum-Regular';
color: #3f3f3f;
}

.map_wrap > .text_box > h1 {
margin: 0 0 10px 0;
}


.map_wrap > .text_box > .text > .text1 {
width: 30%;
font-weight: bold;
}

.map_wrap > .text_box > .text > .text1 > p {
padding: 0 0 10px;
line-height: 20px;
}


.map_wrap > .text_box > .text > .text2 {
width: 70%;
}


.map_wrap > .text_box > .text > .text2 > p {
padding: 0 0 2px;
line-height: 28px;
}

}

@media (min-width: 500px) and ( max-width:850px) {
  
 
 .map_wrap {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

.map_wrap > .bg_box {
  display: block;
}

.map_wrap > .bg_box > .bg_box1 {
width: 100%;
height: 350px;
background: #FFBEBE;
z-index: -1;
}

.map_wrap > .bg_box > .bg_box2 {
width: 100%;
height: 650px;
background: #F1E8E8;
z-index: -1;
}

.map_wrap > .map_box {
  position: absolute;
  top: 5%;
  left: 5%;
}

.map_wrap > .map_box > iframe {
  width: 730px;
  height: 400px;
}

.map_wrap > .text_box {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 5%;
  box-sizing: border-box;
  padding: 0px 50px;
  font-size: 17px;
  font-family: 'GowunDodum-Regular';
  color: #3f3f3f;
}

.map_wrap > .text_box > h1 {
  margin: 0 0 10px 0;
}


.map_wrap > .text_box > .text > .text1 {
  width: 30%;
  font-weight: bold;
}

.map_wrap > .text_box > .text > .text1 > p {
  padding: 0 0 10px;
  line-height: 20px;
}


.map_wrap > .text_box > .text > .text2 {
  width: 70%;
}


.map_wrap > .text_box > .text > .text2 > p {
  padding: 0 0 2px;
  line-height: 28px;
}

}


/* footer */

.footer {
  width: 100%;
  padding: 50px 0;
  background: rgb(56, 56, 56);
  margin-top: 6344px;
  
}


.footer > .text{
  color: white;
  text-align: center;

}

.footer > .text1 {
  padding-top: 20px;
}


.footer > .text > p {
  font-size: 14px;
}











@media (min-width:1301px) and  ( max-width:1920px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 1280px;
	}

  /* 푸터 */
  .footer {
    position: relative;
    z-index: 99;

  }

  
  
  
  }
  
  
  @media (min-width: 1051px) and ( max-width:1300px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 95%;
	}
  
	.top-wrap>.top-box2>ul>li {
	  padding: 23px 0px;
	} 
	.top-wrap>.top-box2>ul>li:hover>div>ul>li {
	  width: 204.5px;
	}
	.swiper-slide>.text-1 {
	  left: 18%;
	}
	.swiper-slide>.text-1>h1 {
	  font-size: 45px;
	}
	.swiper-slide>.text-1>p {
	  font-size: 14px;
	}
	.swiper-slide>.text-1>div {
	  font-size: 25px;
	}
	.slider-box-1 {
	  margin: 100px auto 50px;
	}
	.slider-box-1 > .slick .item {
		height: 500px;
		position:relative;
		overflow:hidden;
		outline:0;
		margin: 10px;
	}
	.card-wrap {
	  padding: 100px 0;
	}
	
	.card-wrap > .card_box {
	  width: 80%;
	}
  
	.card-wrap >.card_box > .card {
	  height: 350px;
	}
	
  /*about_1 */

  #box_356824_obj_mask_0{
    
    left:18%;
    top: 35%; 
    
  }

  
  .imgs{
    margin-top: 100px; 
    margin-left:30%;



  }
 
  #box_356824_obj_mask_1{
  margin-top:25px !important;

  left: 15%;
    

  }
  #box_356824_obj_mask_2{
    left:20%; 
    margin-top: 35px;  
    width:100%;  
    
  }

  #mask_subject{
    font-size:25px;
    
    
  }
  #mask_content{
    font-size:45px;
    
  }
  
  .small_text{
    
    font-size:20px;
   
  }

  /*intro*/

  .pink_box{
    width:49%;
  }
  
.intro_txt {
  width:40%;
  padding-top: 110px;
  padding-left: 0px;
  line-height: 40px;
  
  
}
.intro_txt > h1 {
  
  font-size: 32px;
}

.intro_txt > p {
  font-size: 18px;
}

/* philosophy */


.philosophy > .inner{ 
  width: 100%;
}

/* thecare_vidio */
.thecare_vidio{
  height: 1100px;
 
 
}
.thecare_vidio > .inner{
  width: 100%;
}
.thecare_vidio_txt > p{
  font-size: 18px;

}
.thecare_vidio_img{
 top: 250px;
}
.thecare_vidio_img_txt{

  margin-top: 65%;
  left: 2%;
 
}

.thecare_vidio_img_txt > p {
  font-size: 20px;
}
/* footer */

.footer {
  width: 100%;
  position: relative;
  padding: 50px 0;
  background: rgb(56, 56, 56);
  margin-top: 3350px;
  z-index: 99;
}


.footer > .text{
  color: white;
  text-align: center;

}

.footer > .text1 {
  padding-top: 20px;
}


.footer > .text > p {
  font-size: 14px;
}


  }
  
  
  @media (min-width: 851px) and ( max-width:1050px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 95%;
	}
  
	.top-wrap>.top-box2>ul>li {
	  padding: 23px 0px;
	} 
	.top-wrap>.top-box2>ul>li:hover>div>ul>li {
	  width: 154.8px;
	}
	.swiper-slide>.text-1 {
	  top: 24%;
	  left: 20%;
	}
	.swiper-slide>.text-1>h1 {
	  font-size: 35px;
	}
	.swiper-slide>.text-1>p {
	  font-size: 12px;
	}
	.swiper-slide>.text-1>div {
	  font-size: 20px;
	  margin-top: 30px;
	}
	.slider-box-1 {
	  margin: 100px auto 50px;
	}
	.slider-box-1 > p {
	  font-size: 35px;
	  margin: 50px auto 30px;
	}
	.slider-box-1 > .slick .item {
		height: 400px;
		position:relative;
		overflow:hidden;
		outline:0;
		margin: 10px;
	}
  
	.mini-ban{
	  height: 350px;
	  margin-top: 100px;
	  background-size: cover;
	}
	
	
	.mini-ban > .text-box {
	  padding-top: 55px;
	}
	
	.mini-ban > .text-box > i  {
	  font-size: 38px;
	  font-weight: bold;
	} 
	
	.mini-ban > .text-box > p  {
	  margin-top: 40px;
	  font-size: 18px;
	  line-height: 40px;
	}
  
  
	.card-wrap {
	  padding: 80px 0;
	}
	
	.card-wrap > .card_box {
	  width: 80%;
	}
  
	.card-wrap >.card_box > .card {
	  height: 200px;
	}
  
	.card-wrap >.card_box > .card > .text-box {
	  position: absolute;
	  top: 50%;
	  left: 10%;
	}
	
	.card-wrap >.card_box > .card > .text-box > h1 {
	  margin-bottom: 20px;
	  font-size: 23px;
	  font-weight: 600;
	}
	
	.card-wrap >.card_box > .card > .text-box > p {
	  font-size: 14px;
	}
  
	.card-wrap >.card_box > .card > .bg > .view {
		font-size: 20px;
		padding: 5px 15px;
	}
  
    /*about_1 */

    #box_356824_obj_mask_0{
    
      left:10%;
      
    }
  
    
    .imgs{
      margin-top: 40px; 
      margin-left:30%;
  
  
  
    }
   
    #box_356824_obj_mask_1{
    margin-top:15px !important;
  
    left: 15%;
      
  
    }
    #box_356824_obj_mask_2{
      left:15%; 
      margin-top: 15px;  
      width:100%;  
      
    }
  
    #mask_subject{
      font-size:20px;
      
      
    }
    #mask_content{
      font-size:35px;
      margin-top: 5px;
      margin-bottom: 5px;
      
    }
    
    .small_text{
      
      font-size:15px;
     
    }

     /*intro*/

     .intro {
      width: 100%;
      height:700px;
      margin-top: 500px;
      background-color: #fff;
    
    }

  .pink_box{
    width:49%;
  }
  
.intro_txt {
  width:40%;
 
  
  
}
.intro_txt > h1 {
  
  font-size: 32px;
}

.intro_txt > p {
  font-size: 18px;
}
 /*intro*/

 .pink_box{
  width:50%;
}

.intro_txt {
width:35%;
padding-top: 110px;
padding-left: 0px;
line-height: 40px;


}
.intro_txt > h1 {

font-size: 28px;
}

.intro_txt > p {
font-size: 16px;
}

/* philosophy */


.philosophy > .inner{
  width: 100%;
}


.philosophy_txt{
  margin: 40px;


}
.philosophy_txt > h1 {
  font-size: 32px;
}

.philosophy_txt > i{
  font-size: 66px;

}
.philosophy_txt > br {
  display: none;
}
.philosophy_txt > p {
  font-size: 17px;
}

/* thecare_vidio */
.thecare_vidio{
  height: 600px;

  margin-top: 1800px;
}
.thecare_vidio > .inner{
  width: 100%;
}

.thecare_vidio_img{
  width: 32%;
  display: inline-block;
  position: relative;
  top: 210px;
  left: 8%;
 

}


.thecare_vidio_txt{
  width: 100%;
}
.thecare_vidio_txt > h1 {
  font-size: 47px;
  font-weight: lighter;


}

.thecare_vidio_txt > p {
  font-size: 15px;

}


.thecare_vidio_img_txt{

  left: 10%;
  font-size: 17px;

}

  
  }
  
  
  @media (min-width: 500px) and ( max-width:850px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 95%;
	}
  
	.top-wrap>.top-box2>ul>li {
	  padding: 23px 25px;
	} 
	.top-wrap>.top-box2>ul>li:hover>div>ul>li {
	  width: 114.8px;
	}
	.swiper-slide>.text-1 {
	  top: 24%;
	  left: 20%;
	}
	.swiper-slide>.text-1>h1 {
	  font-size: 25px;
	}
	.swiper-slide>.text-1>p {
	  font-size: 12px;
	}
	.swiper-slide>.text-1>div {
	  font-size: 18px;
	  margin-top: 30px;
	}
	.slider-box-1 {
	  margin: 100px auto 50px;
	  width: 80%;
	}
	.slider-box-1 > p {
	  font-size: 35px;
	  margin: 50px auto 30px;
	}
	.slider-box-1 > .slick .item {
		height: 400px;
		position:relative;
		overflow:hidden;
		outline:0;
		margin: 10px;
	}
  
	.slider-box-1 > .slick .item .bg {
	  background-size:contain;
	  background-repeat: no-repeat;
	}
  
	.mini-ban{
	  height: 300px;
	  margin-top: 100px;
	  background-size: cover;
	}
	
	
	.mini-ban > .text-box {
	  padding-top: 55px;
	}
	
	.mini-ban > .text-box > i  {
	  font-size: 33px;
	  font-weight: bold;
	} 
	
	.mini-ban > .text-box > p  {
	  margin-top: 30px;
	  font-size: 16px;
	  line-height: 30px;
	}
  
  
	.card-wrap {
	  padding: 80px 0;
	}
	
	.card-wrap > .card_box {
	  width: 80%;
	}
  
	.card-wrap >.card_box > .card {
	  height: 200px;
	}
  
	.card-wrap >.card_box > .card > .text-box {
	  position: absolute;
	  top: 50%;
	  left: 10%;
	}
	
	.card-wrap >.card_box > .card > .text-box > h1 {
	  margin-bottom: 5px;
	  font-size: 23px;
	  font-weight: 600;
	}
  
	.card-wrap >.card_box2 {
	  margin-top: 15px;
	}
	
	.card-wrap >.card_box > .card > .text-box > p {
	  font-size: 14px;
	  margin-top: 8px;
	}
  
	.card-wrap >.card_box > .card > .bg > .view {
		font-size: 20px;
		padding: 5px 15px;
	}
      /*about_1 */

      #box_356824_obj_mask_0{
    
        left:0%;
        
      }
    
      
      .imgs{
        margin-top: 40px; 
        margin-left:30%;
        width: 20;
    
    
    
      }

      .imgs > img{
        width: 30px;
      }
     
     


      #box_356824_obj_mask_1{
      margin-top:5px ;
    
      left: 15%;
        
    
      }
      #box_356824_obj_mask_2{
        left:15%; 
        margin-top: 2px;  
        width:100%;  
        
      }
    
      #mask_subject{
        font-size:15px;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-top: 3px;
        padding-bottom: 3px;
        
        
      }
      #mask_content{
        font-size:28px;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 13px;
      }
      
      .small_text{
        
        padding-top: 8px !important;
        font-size:14px;
        line-height: 20px;
       
      }


      /*intro*/



.pink_box{
  width:100%;
  margin-bottom: 30px;
 
}

.intro_left {
 
  background-size: 100px;

  
}
.intro_txt {
 width: 100%;
  padding-left: 0px;
  line-height: 40px;
  text-align: center;
  
  
  
}
.intro_txt > h1 {
  margin-top: 30%;
  font-size: 35px;
}

.intro_txt > p {
  font-size: 20px;
}

/* philosophy */

.philosophy{
  margin-top: 300px;
}
.philosophy > .inner{
  width: 100%;
}


.philosophy_txt{
  margin: 35px;


}
.philosophy_txt > br{
  display: none;
}
.philosophy_txt > h1 {
  font-size: 23px;
}

.philosophy_txt > i{
  font-size: 50px;

}

.philosophy_txt > p {
  font-size: 12px;
}


/* thecare_vidio */
.thecare_vidio{
  height: 390px;

  margin-top: 1200px;
}
.thecare_vidio > .inner{
  width: 100%;
}
.thecare_vidio_txt > h1 {
  font-size: 30px;
}

.thecare_vidio_txt > p {
  font-size: 12px;

}

.thecare_vidio_img{
  top: 170px;
}

.thecare_vidio_img_txt{
  left: 5%;
  font-size: 10px;

}

  }

