html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'ChosunSg';
  font-size: 14px;
  color: #252525;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'BBTreeCB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeCB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mujinjang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Mujinjang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ChosunSg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HeirofLightRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeirofLightBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YESMyoungjo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YESMyoungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.con {
  width: 1280px;
  margin: 0 auto;
}


.flex {
  display: flex;
}

.flex-1-0-0 {
  flex: 1 0 0;
}

.flex-ai-c {
  align-items: center;
}

.flex-ai-sb {
  align-items: stretch;
}

.flex-as-c {
  align-self: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-end {
  justify-content: end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.block {
  display: block;
}

.img-box>img {
  width: 100%;
  display: block;
}



.top-wrap>.top-box1 {
  margin: 20px auto 15px;
  width: 1280px;
}

.line {
  width: 100%;
  height: 1px;
  background: #ccc;
  z-index: 10;
  display: block;
}

.top-wrap>.top-box1>div,
.icon-box {
  width: 33.3%;
}

.top-wrap>.top-box1>.icon-box {
  float: left;
}

.top-wrap>.top-box1>.icon-box>.icon {
  padding: 0 0 0 15px ;
  text-align: center;
  float: left;
  display: flex;
  font-family: 'ChosunSg';
}

.top-wrap>.top-box1>.icon-box>.cart {
  padding: 0 15px 0 15px;
}

/* .top-wrap>.top-box1>.icon-box>.login {
  background: red;
}

.top-wrap>.top-box1>.icon-box>.join {
  background: blue;
}

.top-wrap>.top-box1>.icon-box>.cart {
  background: green;
} */

.top-wrap>.top-box1>.icon-box>.icon>.line-icon {
  display: flex;
  width: 1px;
  height: 50px;
  background:#707070;
  margin: 1px 0 0 15px;
}

/* .top-wrap>.top-box1>.icon-box>.icon:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 50px;
  margin: -10px 40px;
  background:#707070;
} */

.top-wrap>.top-box1>.icon-box>.icon>a>.img-box {
  width: 31px;
  margin-bottom: 4px;
}

.top-wrap>.top-box1>.icon-box>.cart>a>.img-box {
  width: 33px;
  margin-bottom: 2px;
}

.top-wrap>.top-box1>.logo-box>.img-box>a>img {
  width: 150px;
}



.top-wrap>.top-box1> .search_wrap >.search-box > .schBtn >input[type=image]  {
  width: 30px;
  height: 30px;
}







.top-wrap>.top-box1> .search_wrap > .search-box .form {
  width:0;
  padding:0;
  margin:0;
  outline:0;
  border:0;
  border-bottom:1px solid transparent;
  transition:width .3s, border-bottom-color .3s;
  background-color:transparent;
  color:#707070;
  margin-right:10px;
  padding:10px;
  display:block;
  box-sizing:border-box;
}

.top-wrap>.top-box1> .search_wrap > .search-box:hover  .form  {
  width:170px;
  border-bottom-color: #707070;
}














.top-wrap>.top-box2 {
  margin: 0px auto;
  width: 100%;
  font-size: 18px;
  color: #707070;
  background:white;
  z-index: 100;
  font-family: 'ChosunSg';
  text-align: center;
  height: 60px;
}

.top-wrap>.top-box2>ul {
  width: 80%;
  margin: 0px auto;
}

.top-wrap>.top-box2>ul>li {
  width: 256px;
  padding: 20px 0px;
  position: relative;
  transition: all .4s;

}

.top-wrap>.top-box2>ul>li:hover {
  background: #ffeded;
}

.top-wrap>.top-box2>ul>li>div {
  visibility: hidden;
  position: absolute;
  z-index: 10;
}

/* .top-wrap > .top-box2 > ul>li:hover> div */
.top-wrap>.top-box2>ul>li:hover>div {
  visibility: visible;
  position: absolute;
  left: 0%;
  margin-top: 20px;
  background: white;
  width: 100%;
  transition: all .4s;
}

/* .top-wrap > .top-box2 > ul>li:hover> div > ul > li */
.top-wrap>.top-box2>ul>li:hover>div>ul>li {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  transition: all .4s;
}

.top-wrap>.top-box2>ul>li:hover>div>ul>li:hover {
  background: #ffeded;
}


.top-wrap>.top-box2>ul>li>div>ul>li:last-child::after {
  border: none;
}



















.swiper {
  height: auto;
  margin-top: 1.3px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* object-fit: cover; */
}


.swiper-slide>.text-1 {
  position: absolute;
  top: 40%;
  left: 15%;
  transform: translate(-30%, -20%);
  text-align: start;
}


.swiper-slide>.text-2 {
  position: absolute;
  top: 52%;
  left: 73%;
  transform: translate(-30%, -20%);
  text-align: start;
}


.swiper-slide>.text-2>h1 {
  color: #444;
  letter-spacing: 0.08em;
  padding-bottom: 0;
  margin-bottom: 0px;
  font-size: 40px;
}

.swiper-slide>.text-2>p {
  font-size: 28px;
  color: #444;
  margin-top: 20px;
}

.swiper-slide>.text-1>h1 {
  color: #444;
  letter-spacing: 0.08em;
  padding-bottom: 0;
  margin-bottom: 0px;
  font-size: 40px;
}

.swiper-slide>.text-1>h1>span {
  font-weight: bold;
  color: #222;
}

.swiper-slide>.text-1>p {
  font-size: 28px;
  color: #444;
  margin-top: 20px;
}


 .swiper-slide1>.text-1{
    font-family: 'KCC-eunyoung';
 }

.swiper-slide1>.text-2>h1{
   font-family: 'LeferiPoint-BlackA';
 }

 .swiper-slide1>.text-2>p{
    font-family: 'KCC-eunyoung';
 }


@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.swiper-slide2>.text-1>h1{
    font-family: 'KCC-eunyoung';
 }

 .swiper-slide2>.text-1>p{
    font-family: 'KCC-eunyoung';
 }

.swiper-slide2>.text-1 h1 span{
  font-family: 'LeferiPoint-BlackA';
 }
 



@font-face {
     font-family: 'S-CoreDream-8Heavy';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'BBTreeCB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeCB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.swiper-slide3>.text-1 h1{
    font-family: 'S-CoreDream-8Heavy';
 }

.swiper-slide3>.text-1 > div{
 font-family: 'BBTreeCB';
 margin-top:30px;
 font-size: 48px;
 margin-left:10px;
 }

 

@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.swiper-slide4>.text-1>h3{
    font-family: 'BBTreeCB';
 }

 .swiper-slide4>.text-1>h1{
        font-family: 'S-CoreDream-8Heavy';
 }

.swiper-slide4>.text-1>div {
  font-family: 'BBTreeCB';
 }
 


/* .swiper-slide>.text-1>div {
  margin-top: 80px;
  color: #fff;
  font-size: 27px;
  font-family: 'YESMyoungjo-Regular';
  line-height: 40px;
}
 */
.swiper .swiper-button-next {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 12px;
  padding: 0 30px;
  left: 90%;
  right:auto;
}

.swiper .swiper-button-prev {
  color: #f2f2f2;
  font-weight: 500;
  opacity: 100%;
  font-size: 12px;
  padding: 0 30px;
  right: 90%;
  left:auto;
}

.swiper .swiper-pagination-bullet {
  background: #fff;
  width: 13px;
  height: 13px;
  opacity: 50%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 100%;
}

















/* 슬라이더 */

.slider-box-1 {
  width: 80%;
  margin:200px auto 100px;
  position:relative;
}

.slider-box-1 > p {
  font-size: 50px;
  text-align: center;
  margin: 100px 0 80px;
  font-family: 'GowunDodum-Regular';
  font-weight: bold;
}


.slider-box-1 > .arrows > .btn-right {
  position: absolute;
  z-index:99;
  top: 45%;
  left: 96%;
  cursor:pointer;
}

.slider-box-1 > .arrows > .btn-left {
  position: absolute;
  z-index:99;
  top: 45%;
  left: 1%;
  cursor:pointer;
}

/* .slider-box-1 > .arrows > svg {
  width: 100px;
  height: 100px;
} */

.slider-box-1 > .slick {
  margin-left: 100px;
}


.slider-box-1 > .slick .item {
  height: 550px;
  position:relative;
  overflow:hidden;
  outline:0;
  margin: 10px;
}

.slider-box-1 > .slick .item .bg {
  position:absolute;
  top:0;
  left:0;
  width:70%;
  height:70%;
  margin:0 0 0 45px;
  background-position:center;
  background-size:cover;
}

.slider-box-1 > .slick .item .name {
  position: absolute;
  top: 78%;
  left: 33%;
  font-size: 23px;
}

.slider-box-1 > .slick .item .name span {
  font-size: 25px;
  font-weight: bold;
}

.slider-box-1 > .slick .item .name > .bg1 {
  width: 0px;
  height: 15px;
}

.slider-box-1 > .slick .item:hover .name > .bg1 {
  width: 125px;
  height: 20px;
  background: pink;
  transition:width .5s, background-color .5s;
  position: absolute;
  top: 13px;
  z-index: -1;
}


/* .slider-box-1 .item button {
  position:absolute;
  top:calc(50% + 50px);
  left:calc(60% + 15px);
  z-index:10;
  background: black;
  color:white;
  padding: 10px 40px;
  border: 1px solid #9f9f9f;
}

.slider-box-1 .item button:hover {
  background: white;
  color: black;
  border: 1px solid #9f9f9f;
} */

.mini-ban{
  width: 100%;
  height: 450px;
  background: url("../img/mini_ban1.jpg");
  margin-top: 150px;
}


.mini-ban > .text-box {
  text-align: center;
  z-index: 100;
  padding-top: 80px;
  color: #ffeded;
  font-family: 'GowunDodum-Regular';
  
}

.mini-ban > .text-box > i  {
  font-size: 43px;
  font-weight: bold;
} 

.mini-ban > .text-box > p  {
  margin-top: 60px;
  font-size: 23px;
  line-height: 60px;
}


.card-wrap {
  background: url("../img/main_sub_bg.jpg");
  background-size: cover;
  padding: 200px 0;
}

.card-wrap > .card_box {
  width: 1280px;
  margin: 0 auto 0;
}

.card-wrap >.card_box > .card {
  position: relative;
  width: 32%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-wrap >.card_box > .card1 {
  width: 59%;
  background: url("../img/main_program_01.jpg");
  margin-right: 2%;
  background-size: cover;
}

.card-wrap > .card_box > .card2 {
  width: 39%;
  background: url("../img/main_program_02.jpg");
  background-size: cover;
}

.card-wrap > .card_box > .card3 {
  background: url("../img/main_program_03.jpg");
  margin-right: 2%;
  background-size: cover;
}

.card-wrap > .card_box > .card4 {
  background: url("../img/main_program_04.jpg");
  margin-right: 2%;
  background-size: cover;
}

.card-wrap > .card_box > .card5 {
  background: url("../img/main_program_05.jpg");
  background-size: cover;
}

.card-wrap > .card_box2 {
  margin-top: 30px;
}

.card-wrap >.card_box > .card > .text-box {
  position: absolute;
  top: 60%;
  left: 10%;
}

.card-wrap >.card_box > .card > .text-box > h1 {
  margin-bottom: 20px;
  font-size: 29px;
  font-weight: 600;
}

.card-wrap >.card_box > .card > .text-box > p {
  font-size: 18px;
}

.card-wrap >.card_box > .card2,.card4,.card5 {
  color: white;
}

.card-wrap >.card_box > .card1 > .text-box {
  position: absolute;
  top: 60%;
  left: 6%;
}

.card-wrap >.card_box > .card2 > .text-box {
  position: absolute;
  top: 60%;
  left: 8%;
}

.card-wrap >.card_box > .card > .bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.card-wrap >.card_box > .card > .bg > .view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  z-index: 101;
}

.card-wrap >.card_box > .card:hover > .bg {
  background:rgba(0, 0, 0, 0.4);
  visibility: visible;
  opacity: 100%;
}







.mini-banner {
  position: relative;
  margin-bottom: 100px;
  width: 100%;
  height: 400px;
}

.mini-box {
  width: 60%;
  position: relative;
  margin-top: 150px;
}

.mini-box .img-box  {
  width: 80%;
}

.mini-1 {
  position: absolute;
  top: 0;
  left: 10%; 
}

.mini-2 {
  position: absolute;
  top: 45%;
  left: 40%; 
  width: 53%;
  height: 130%;
  background: #E9CACA;
  z-index: -10;
} 

.mini-2 > .text-box {
  left: 40%;
  position: absolute;
  width: 45%;
  padding: 50px 50px 0;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
}

.mini-2 > .text-box > h1 {
  line-height: 48px;
  font-size: 30px;
}







 .content-f {
   margin: 600px auto 100px;
   background: #F1E8E8;
   padding: 50px 100px;
 }

.before-box {
  width: 45%;
  margin-left: 4%;
}

.before-box > h1 {
  font-size: 50px;
  margin: 0px 0 10px;
  font-family: 'GowunDodum-Regular';
  font-weight: bold;
  color: #707070;
}

.before-box > p {
  font-size: 30px;
  margin: 30px 0 10px;
  font-family: 'GowunDodum-Regular';
  font-weight: bold;
  color: #707070;
}


 .slider-box-2 {
  width: 100%;
  position:relative;
  
}




.slider-box-2 > .arrows > .btn-right {
  position: absolute;
  z-index:99;
  top: -18%;
  left: 93%;
  cursor:pointer;
  width: 65px;
}

.slider-box-2 > .arrows > .btn-left {
  position: absolute;
  z-index:99;
  top: -18%;
  left: 85%;
  cursor:pointer;
  width: 65px;
}

.slider-box-2 > .arrows img {
  width: 100%;
}

/* .slider-box-1 > .arrows > svg {
  width: 100px;
  height: 100px;
} */


.slider-box-2 > .slick {
  padding: 15px 0;
}

.slider-box-2 > .slick .item {
  width: 500px;
  height: 300px;
  position:relative;
  outline:0;
  background: #fff;
  margin: 0 auto;
}

.slider-box-2 > .slick .item .bg1 {
  position:absolute;
  top:0;
  left: 5%;
  width: 300px;
  height: 300px;
  background-position:center;
  background-size:cover;
}


.slider-box-2 > .slick .item .bg2 {
  position:absolute;
  top:0%;
  left:55%;
  width: 300px;
  height: 300px;
  background-position:center;
  background-size:cover;
}

.slider-box-2 > .slick .item .arr {
  position:absolute;
  top: 35%;
  left: 45%;
  font-size: 70px;
  color: #b1b1b1;
  background-position:center;
  background-size:cover;
}


/* .slider-box-2 > .slick .item:hover  .bg1 {
  width: 105px;
  height: 17px;
  background: #ffeded;
  transition:width .5s, background-color .5s;
  position: absolute;
  top: 10px;
  z-index: -1;
} */



.noti-box {
  width: 45%;
  margin-left: 5%;
}

.noti-box > h1 {
  font-size: 50px;
  margin: 0px 0 10px;
  font-family: 'GowunDodum-Regular';
  font-weight: bold;
  color: #707070;
}

.noti-box > p {
  font-size: 30px;
  margin: 30px 0 10px;
  font-family: 'GowunDodum-Regular';
  font-weight: bold;
  color: #707070;
}

.noti-box > ul {
  margin-top: 25px;
  background: #fff;;
  padding: 26px 0
}


.noti-box > ul > li {
  padding: 0px 40px 1px;
  color: #3f3f3f;
}

.noti-box > ul > li > a {
  font-size: 17px;
  border-bottom: 1px solid #707070;
  content: "";
  display: block;
  width: 100%;
  line-height: 60px;
}





.noti-box > ul > li:hover {
  font-weight: bold;
}









/* 
.noti-box > ul > li {
  padding: 1px 40px;
  background: #e8e8e8;;
  color: #3f3f3f;
}

.noti-box > ul > li > a {
  font-size: 17px;
  border-bottom: 1px solid #707070;
  content: "";
  display: block;
  width: 680px;
  line-height: 65px;
}

.noti-box > ul > li:first-child > a{
  padding-top: 15px;
}

.noti-box > ul > li:last-child > a{
  border: none;
  padding-bottom: 15px;
}


.noti-box > ul > li:hover {
  background: #f1f1f1;
} */




.map_wrap {
  width: 100%;
  position: relative;
  margin-top: 250px;
}


.map_wrap > .bg_box > .bg_box1 {
  width: 40%;
  height: 600px;
  background: #FFBEBE;
  z-index: -1;
}

.map_wrap > .bg_box > .bg_box2 {
  width: 60%;
  height: 600px;
  background: #F1E8E8;
  z-index: -1;
}

.map_wrap > .map_box {
  position: absolute;
  top: 8%;
  left: 6%;
}

.map_wrap > .map_box > iframe {
  width: 800px;
  height:500px;
}

.map_wrap > .text_box {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 50%;
  box-sizing: border-box;
  padding: 0px 50px;
  font-size: 17px;
  font-family: 'GowunDodum-Regular';
  color: #3f3f3f;
}

.map_wrap > .text_box > h1 {
  margin: 0 0 10px 0;
}


.map_wrap > .text_box > .text > .text1 {
  width: 30%;
  font-weight: bold;
}

.map_wrap > .text_box > .text > .text1 > p {
  padding: 0 0 10px;
  line-height: 20px;
}


.map_wrap > .text_box > .text > .text2 {
  width: 70%;
}


.map_wrap > .text_box > .text > .text2 > p {
  padding: 0 0 2px;
  line-height: 28px;
}




/* footer */

.footer {
  width: 100%;
  padding: 50px 0;
  background: rgb(56, 56, 56);
  
}


.footer > .text{
  color: white;
  text-align: center;

}

.footer > .text1 {
  padding-top: 20px;
}


.footer > .text > p {
  font-size: 14px;
}

























@media (min-width: 1301px) and  ( max-width:1920px) {
  .top-wrap>.top-box1 {
    width: 1280px;
  }
}





@media (min-width: 1051px) and ( max-width:1300px) {
  .top-wrap>.top-box1 {
    width: 95%;
  }

  .top-wrap>.top-box2>ul>li {
    padding: 23px 0px;
  
  }

  .swiper-slide>.text-1 {
    left: 18%;
  }
  .swiper-slide>.text-1>h1 {
    font-size: 45px;
  }
  .swiper-slide>.text-1>p {
    font-size: 14px;
  }
  .swiper-slide>.text-1>div {
    font-size: 25px;
  }
  .slider-box-1 {
    margin: 100px auto 50px;
  }
  .slider-box-1 > .slick .item {
      height: 500px;
      position:relative;
      overflow:hidden;
      outline:0;
      margin: 10px;
  }
  .card-wrap {
    padding: 100px 0;
  }
  
  .card-wrap > .card_box {
    width: 80%;
  }

  .card-wrap >.card_box > .card {
    height: 350px;
  }


.mini-banner {
  position: relative;
  margin-bottom: 100px;
  width: 100%;
  height: 400px;
}

.mini-box {
  width: 60%;
  position: relative;
  margin-top: 150px;
}

.mini-box .img-box  {
  width: 100%;
}

.mini-1 {
  position: absolute;
  top: 0;
  left: 0%; 
}

.mini-2 {
  position: absolute;
  top: 45%;
  right: 0%;
  height: 100%;
  background: #E9CACA;
  z-index: -10;
} 

.mini-2 > .text-box {
  left: 40%;
  position: absolute;
  width: 45%;
  padding: 50px 50px 0;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
}

.mini-2 > .text-box > h1 {
  line-height: 48px;
  font-size: 30px;
}













  .content-f {
    margin: 500px auto 100px;
    background: #F1E8E8;
    padding: 50px 50px;
  }
 
 .before-box > h1 {
   font-size: 40px;
 }
 
 .before-box > p {
   font-size: 25px;
   margin: 20px 0 10px;
 }
 
 
  .slider-box-2 {
   width: 100%;
   position:relative;
   
 }
 
 .slider-box-2 > .arrows > .btn-right {
   position: absolute;
   z-index:99;
   top: -18%;
   left: 90.5%;
   cursor:pointer;
   width: 55px;
 }
 
 .slider-box-2 > .arrows > .btn-left {
   position: absolute;
   z-index:99;
   top: -18%;
   left: 82%;
   cursor:pointer;
   width: 55px;
 }
 
 .slider-box-2 > .arrows img {
   width: 100%;
 }
 
 
 
 .slider-box-2 > .slick {
   padding: 15px 0;
 }
 
 .slider-box-2 > .slick .item {
   width: 500px;
   height: 280px;
   position:relative;
   outline:0;
   background: #fff;
   margin: 0 auto;
 }
 
 .slider-box-2 > .slick .item .bg1 {
   position:absolute;
   bottom: 0;
   left: 0%;
   width: 250px;
   height: 280px;
   background-position:center;
   background-size:cover;
 }
 
 
 .slider-box-2 > .slick .item .bg2 {
   position:absolute;
   top:0%;
   left:52%;
   width: 250px;
   height: 280px;
   background-position:center;
   background-size:cover;
 }
 
 .slider-box-2 > .slick .item .arr {
   position:absolute;
   top: 35%;
   left: 43%;
   font-size: 60px;
   color: #b1b1b1;
   background-position:center;
   background-size:cover;
 }
 
 
 .noti-box {
   width: 45%;
   margin-left: 5%;
 }
 
 .noti-box > h1 {
   font-size: 40px;
 }
 
 .noti-box > p {
   font-size: 25px;
   margin: 20px 0 10px;
 }
 
 .noti-box > ul {
   margin-top: 25px;
   background: #fff;;
   padding: 25px 0
 }
 
 
 .noti-box > ul > li {
   padding: 0px 40px 1px;
   color: #3f3f3f;
 }
 
 .noti-box > ul > li > a {
   line-height: 55px;
 }
 
 
 .map_wrap {
   width: 100%;
   position: relative;
   margin-top: 200px;
 }
 
 .map_wrap > .map_box {
   position: absolute;
   top: 8%;
   left: 6%;
 }

 .map_wrap > .map_box > iframe {
   width: 480px;
   height: 500px;
 }

    /* footer */

.footer {
  width: 100%;
  position: relative;
  padding: 50px 0;
  background: rgb(56, 56, 56);
  margin-top: 150px;
  z-index: 99;
}


.footer > .text{
  color: white;
  text-align: center;

}

.footer > .text1 {
  padding-top: 20px;
}


.footer > .text > p {
  font-size: 14px;
}
 


}
/* 
1200
980
 */

@media (min-width: 851px) and ( max-width:1050px) {
  .top-wrap>.top-box1 {
    width: 95%;
  }

  .top-wrap>.top-box2>ul>li {
    padding: 20px 0px;
  } 

  .swiper-slide>.text-1 {
    top: 24%;
    left: 20%;
  }
  .swiper-slide>.text-1>h1 {
    font-size: 35px;
  }
  .swiper-slide>.text-1>p {
    font-size: 12px;
  }
  .swiper-slide>.text-1>div {
    font-size: 20px;
    margin-top: 30px;
  }
  .slider-box-1 {
    margin: 100px auto 50px;
  }
  .slider-box-1 > p {
    font-size: 35px;
    margin: 50px auto 30px;
  }
  .slider-box-1 > .slick .item {
      height: 400px;
      position:relative;
      overflow:hidden;
      outline:0;
      margin: 10px;
  }

  .mini-ban{
    height: 350px;
    margin-top: 100px;
    background-size: cover;
  }
  
  
  .mini-ban > .text-box {
    padding-top: 55px;
  }
  
  .mini-ban > .text-box > i  {
    font-size: 38px;
    font-weight: bold;
  } 
  
  .mini-ban > .text-box > p  {
    margin-top: 40px;
    font-size: 18px;
    line-height: 40px;
  }


  .card-wrap {
    padding: 80px 0;
  }
  
  .card-wrap > .card_box {
    width: 80%;
  }

  .card-wrap >.card_box > .card {
    height: 200px;
  }

  .card-wrap >.card_box > .card > .text-box {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  
  .card-wrap >.card_box > .card > .text-box > h1 {
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 600;
  }
  
  .card-wrap >.card_box > .card > .text-box > p {
    font-size: 14px;
  }

  .card-wrap >.card_box > .card > .bg > .view {
      font-size: 20px;
      padding: 5px 15px;
  }




  
.mini-banner {
  position: static;
  margin-bottom: 100px;
  width: 100%;
  height: 800px;
}

.mini-box {
  width: 100%;
  position: static;
  margin-top: 150px;
}

.mini-box .img-box  {
  width: 100%;
}

.mini-1 {
  position: static;
}

.mini-2 {
  position: static;
  background: #E9CACA;
  margin-top: 0;
  z-index: -10;
  height: 500px;
} 

.mini-2 > .text-box {
  position: static;
  padding: 50px 50px 0;
  color: #fff;
  width: 80%;
  line-height: 40px;
  font-size: 18px;
  margin: 0 auto;
}

.mini-2 > .text-box > h1 {
  line-height: 48px;
  font-size: 40px;
}




  .content-f {
    margin: 250px 0 100px;
    background: #F1E8E8;
    padding: 50px 0;
    display: inline-block;
    width: 100%;
  }

  .before-box {
    width: 80%;
    margin: 0 auto;
  }

 .before-box > h1 {
   font-size: 40px;
 }
 
 .before-box > p {
   font-size: 25px;
   margin: 20px 0 10px;
 }
 
 
  .slider-box-2 {
   width: 100%;
   position:relative;
   
 }
 
 .slider-box-2 > .arrows > .btn-right {
   position: absolute;
   z-index:99;
   top: -18%;
   left: 94%;
   cursor:pointer;
   width: 55px;
 }
 
 .slider-box-2 > .arrows > .btn-left {
   position: absolute;
   z-index:99;
   top: -18%;
   left: 87%;
   cursor:pointer;
   width: 55px;
 }
 
 .slider-box-2 > .arrows img {
   width: 100%;
 }
 
 
 
 .slider-box-2 > .slick {
   padding: 15px 0;
 }
 
 .slider-box-2 > .slick .item {
   width: 500px;
   height: 300px;
   position:relative;
   outline:0;
   background: #fff;
   margin: 0 auto;
 }
 
 .slider-box-2 > .slick .item .bg1 {
   position:absolute;
   bottom: 0;
   left: 4%;
   width: 300px;
   height: 300px;
   background-position:center;
   background-size:cover;
 }
 
 
 .slider-box-2 > .slick .item .bg2 {
   position:absolute;
   top:0%;
   left:57%;
   width: 300px;
   height: 300px;
   background-position:center;
   background-size:cover;
 }
 
 .slider-box-2 > .slick .item .arr {
   position:absolute;
   top: 35%;
   left: 45%;
   font-size: 70px;
   color: #b1b1b1;
   background-position:center;
   background-size:cover;
 }
 
 
 .noti-box {
   width: 80%;
   margin-left: 5%;
   margin: 50px auto 0;
 }
 
 .noti-box > h1 {
   font-size: 40px;
 }
 
 .noti-box > p {
   font-size: 25px;
   margin: 20px 0 10px;
 }
 
 .noti-box > ul {
   margin-top: 25px;
   background: #fff;;
   padding: 25px 0
 }
 
 
 .noti-box > ul > li {
   padding: 0px 40px 1px;
   color: #3f3f3f;
 }
 
 .noti-box > ul > li > a {
   line-height: 55px;
 }
 
 
 .map_wrap {
   width: 100%;
   position: relative;
   margin-top: 100px;
 }
 
 .map_wrap > .map_box {
   position: absolute;
   top: 8%;
   left: 6%;
 }

 .map_wrap > .map_box > iframe {
   width: 450px;
   height: 500px;
 }
 
 .map_wrap > .text_box {
   position: absolute;
   width: 50%;
   top: 15%;
   left: 50%;
   box-sizing: border-box;
   padding: 0px 50px;
   font-size: 17px;
   font-family: 'GowunDodum-Regular';
   color: #3f3f3f;
 }
 
 .map_wrap > .text_box > h1 {
   margin: 0 0 10px 0;
 }
 
 
 .map_wrap > .text_box > .text > .text1 {
   width: 30%;
   font-weight: bold;
 }
 
 .map_wrap > .text_box > .text > .text1 > p {
   padding: 0 0 10px;
   line-height: 20px;
 }
 
 
 .map_wrap > .text_box > .text > .text2 {
   width: 70%;
 }
 
 
 .map_wrap > .text_box > .text > .text2 > p {
   padding: 0 0 2px;
   line-height: 28px;
 }




}


@media (min-width: 500px) and ( max-width:850px) {
  .top-wrap>.top-box1 {
    width: 95%;
  }

  .top-wrap>.top-box2 {
    font-size: 16px;
  }

  .top-wrap>.top-box2>ul>li {
    padding: 22px 0px;
  } 
  .swiper-slide>.text-1 {
    top: 24%;
    left: 20%;
  }
  .swiper-slide>.text-1>h1 {
    font-size: 25px;
  }
  .swiper-slide>.text-1>p {
    font-size: 12px;
  }
  .swiper-slide>.text-1>div {
    font-size: 18px;
    margin-top: 30px;
  }
  .slider-box-1 {
    margin: 100px auto 50px;
    width: 80%;
  }
  .slider-box-1 > p {
    font-size: 35px;
    margin: 50px auto 30px;
  }
  .slider-box-1 > .slick .item {
      height: 400px;
      position:relative;
      overflow:hidden;
      outline:0;
      margin: 10px;
  }

  .slider-box-1 > .slick .item .bg {
    background-size:contain;
    background-repeat: no-repeat;
  }

  .mini-ban{
    height: 300px;
    margin-top: 100px;
    background-size: cover;
  }
  
  
  .mini-ban > .text-box {
    padding-top: 55px;
  }
  
  .mini-ban > .text-box > i  {
    font-size: 33px;
    font-weight: bold;
  } 
  
  .mini-ban > .text-box > p  {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
  }


  .card-wrap {
    padding: 80px 0;
  }
  
  .card-wrap > .card_box {
    width: 80%;
  }

  .card-wrap >.card_box > .card {
    height: 200px;
  }

  .card-wrap >.card_box > .card > .text-box {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  
  .card-wrap >.card_box > .card > .text-box > h1 {
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 600;
  }

  .card-wrap >.card_box2 {
    margin-top: 15px;
  }
  
  .card-wrap >.card_box > .card > .text-box > p {
    font-size: 14px;
    margin-top: 8px;
  }

  .card-wrap >.card_box > .card > .bg > .view {
      font-size: 20px;
      padding: 5px 15px;
  }

  .mini-banner {
    position: static;
    margin-bottom: 100px;
    width: 100%;
    height: 800px;
  }
  
  .mini-box {
    width: 100%;
    position: static;
    margin-top: 150px;
  }
  
  .mini-box .img-box  {
    width: 100%;
  }
  
  .mini-1 {
    position: static;
  }
  
  .mini-2 {
    position: static;
    background: #E9CACA;
    margin-top: 0;
    z-index: -10;
    height: 500px;
  } 
  
  .mini-2 > .text-box {
    position: static;
    padding: 50px 50px 0;
    color: #fff;
    width: 80%;
    line-height: 40px;
    font-size: 18px;
    margin: 0 auto;
  }
  
  .mini-2 > .text-box > h1 {
    line-height: 48px;
    font-size: 40px;
  }
  
  
  
  
    .content-f {
      margin: 250px 0 100px;
      background: #F1E8E8;
      padding: 50px 0;
      display: inline-block;
      width: 100%;
    }
  
    .before-box {
      width: 80%;
      margin: 0 auto;
    }
  
   .before-box > h1 {
     font-size: 40px;
   }
   
   .before-box > p {
     font-size: 25px;
     margin: 20px 0 10px;
   }
   
   
    .slider-box-2 {
     width: 100%;
     position:relative;
     
   }
   
   .slider-box-2 > .arrows > .btn-right {
     position: absolute;
     z-index:99;
     top: -18%;
     left: 94%;
     cursor:pointer;
     width: 55px;
   }
   
   .slider-box-2 > .arrows > .btn-left {
     position: absolute;
     z-index:99;
     top: -18%;
     left: 87%;
     cursor:pointer;
     width: 55px;
   }
   
   .slider-box-2 > .arrows img {
     width: 100%;
   }
   
   
   
   .slider-box-2 > .slick {
     padding: 15px 0;
   }
   
   .slider-box-2 > .slick .item {
     width: 500px;
     height: 300px;
     position:relative;
     outline:0;
     background: #fff;
     margin: 0 auto;
   }
   
   .slider-box-2 > .slick .item .bg1 {
     position:absolute;
     bottom: 0;
     left: 4%;
     width: 300px;
     height: 300px;
     background-position:center;
     background-size:cover;
   }
   
   
   .slider-box-2 > .slick .item .bg2 {
     position:absolute;
     top:0%;
     left:57%;
     width: 300px;
     height: 300px;
     background-position:center;
     background-size:cover;
   }
   
   .slider-box-2 > .slick .item .arr {
     position:absolute;
     top: 35%;
     left: 45%;
     font-size: 70px;
     color: #b1b1b1;
     background-position:center;
     background-size:cover;
   }
   
   
   .noti-box {
     width: 80%;
     margin-left: 5%;
     margin: 50px auto 0;
   }
   
   .noti-box > h1 {
     font-size: 40px;
   }
   
   .noti-box > p {
     font-size: 25px;
     margin: 20px 0 10px;
   }
   
   .noti-box > ul {
     margin-top: 25px;
     background: #fff;;
     padding: 25px 0
   }
   
   
   .noti-box > ul > li {
     padding: 0px 40px 1px;
     color: #3f3f3f;
   }
   
   .noti-box > ul > li > a {
     line-height: 55px;
   }
   
   
   .map_wrap {
     width: 100%;
     position: relative;
     margin-top: 100px;
   }

   .map_wrap > .bg_box {
     display: block;
   }
   
.map_wrap > .bg_box > .bg_box1 {
  width: 100%;
  height: 350px;
  background: #FFBEBE;
  z-index: -1;
}

.map_wrap > .bg_box > .bg_box2 {
  width: 100%;
  height: 650px;
  background: #F1E8E8;
  z-index: -1;
}
   
   .map_wrap > .map_box {
     position: absolute;
     top: 5%;
     left: 5%;
   }
  
   .map_wrap > .map_box > iframe {
     width: 730px;
     height: 400px;
   }
   
   .map_wrap > .text_box {
     position: absolute;
     width: 100%;
     top: 55%;
     left: 5%;
     box-sizing: border-box;
     padding: 0px 50px;
     font-size: 17px;
     font-family: 'GowunDodum-Regular';
     color: #3f3f3f;
   }
   
   .map_wrap > .text_box > h1 {
     margin: 0 0 10px 0;
   }
   
   
   .map_wrap > .text_box > .text > .text1 {
     width: 30%;
     font-weight: bold;
   }
   
   .map_wrap > .text_box > .text > .text1 > p {
     padding: 0 0 10px;
     line-height: 20px;
   }
   
   
   .map_wrap > .text_box > .text > .text2 {
     width: 70%;
   }
   
   
   .map_wrap > .text_box > .text > .text2 > p {
     padding: 0 0 2px;
     line-height: 28px;
   }

}