<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="css/note_detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>기록장</title>
</head>

<body>


    <div class="top-wrap">
        <div class="top-box1 flex flex-jc-sb flex-ai-c">


            <ul class="icon-box">
                <li class="icon login">
                    <a href="login.jsp">
                        <div class="img-box">
                            <img src="img/login_icon.png" alt="">
                        </div>
                        login
                    </a>
                    <div class="line-icon"></div>
                </li>
                <li class="icon join">
                    <a href="join.jsp">
                        <div class="img-box">
                            <img src="img/join_icon.png" alt="">
                        </div>
                        join
                    </a>
                    <div class="line-icon"></div>
                </li>
                <li class="icon cart">
                    <a href="cart.jsp">
                        <div class="img-box">
                            <img src="img/cart_icon.png" alt="">
                        </div>
                        cart
                    </a>
                </li>
            </ul>

            <div class="logo-box flex flex-jc-c">
                <div class="img-box">
                    <a href="main.jsp">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="search_wrap">
                <form accept-charset="utf-8" name="search" class="search-box flex flex-jc-end" method="get"
                    action="search.jsp" onsubmit=" keyword_check()" autocomplete=off>
                    <td class="icon">
                        <input class="form" name="keyword" type="text" placeholder="검색어를 입력해주세요.">
                    </td>
                    <td class="schBtn">
                        <input type="image" src="img/Search_thin_icon.png" alt="검색" onsubmit="search_form()"
                            style="width: 30px; height: 30px;">
                    </td>
                </form>
            </div>






        </div>
        <div class="line"></div>


        <div class="top-box2">
            <ul class="flex flex-jc-c">
                <li class="menu">
                    <a>더 케어</a>
                    <div>
                        <ul>
                            <li><a href="about_1.jsp">케어 라이프</a></li>
                            <li><a href="about_3.jsp">오시는길</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menu">
                    <a>더 궁금해</a>
                    <div>
                        <ul>
                            <li><a href="custom.jsp">더 체크</a></li>
                            <li><a href="custom.jsp">더 모어</a></li>
                        </ul>
                    </div>
                </li>
                <!--  <li class="menu">
                    <a>차별점</a>
                    <div>
                        <ul>
                            <li><a href="guide.jsp">안내/비용</a></li>
                            <li><a href="review.jsp">전후사진</a></li>
                        </ul>
                    </div>
                </li> -->
                <li class="menu">
                    <a>케어원해</a>
                    <div>
                        <ul>
                            <li><a href="guide.jsp">안내/비용</a></li>
                            <li><a href="change.jsp">예약확인/변경/취소</a></li>
                            <li><a href="review.jsp">전후사진</a></li>
                        </ul>
                    </div>
                </li>


                <li class="jsp">
                    <a>소통원해</a>
                    <div>
                        <ul>
                            <li><a href="qna.jsp">기록장</a></li>
                            <li><a href="noti.jsp">공지사항</a></li>
                            <li><a href="event.jsp">이벤트</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div style="position: fixed; bottom:5%; right:3%;z-index:150;">
        <a alt="맨 위로" class="moveTopBtn">
            <div style="border-radius:50%;z-index:150; width:60px;height:55px; margin-bottom: 5px; text-align: center;">
                <img src="img/up.png" width="50px" height="50px">
            </div>
        </a>
        <a href="new_view.jsp" alt="최근 본 시술">
            <div style="border-radius:50%;z-index:150; width:60px;height:60px; text-align: center; ">
                <img src="img/clock.png" width="50px" height="50px">
                <br>
                <p style="margin-top: 5px; font-size: 13px; font-weight: bold;">최근본시술</p>
            </div>
        </a>
    </div>


    <div class="detail_wrap">
        <div class="detail_box">
            <div class="user_box">

                <div class="user1 flex">
                    <div class="img-box">

                    </div>
                    <div class="text">
                        <h2>누구누구님</h2>
                        <p>2022-04-01</p>
                    </div>
                    <div class="like">
                        ♡
                    </div>
                </div>

                <div class="user2 flex">
                    <div class="item">
                        #필러
                    </div>
                    <div class="item">
                        #필러
                    </div>
                    <div class="item">
                        #필러
                    </div>
                </div>

                <div class="img-wrap flex">
                    <div class="img-box">

                    </div>
                    <div class="img-box">

                    </div>
                    <div class="img-box last">

                    </div>
                </div>
            </div>

            <div class="note">
                <div class="title">
                    제목이 어쩌고 저쩌고
                </div>
                <div class="body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio illo quos est commodi quia nesciunt
                    amet asperiores voluptatum dolores, tempore pariatur quisquam explicabo vel aut corporis dolorem
                    impedit expedita aliquid.
                </div>
            </div>

            <hr>

            <div class="price">
                <h1>시술 비용</h1>
            </div>

            <div class="comment">
                <h1>댓글</h1>



            <table>
                <tr bgcolor='ffffff'>
                    <td>
                    <div align="center"><%=no%></div>
                    </td>
                    <td>
                    <a href="board-view.jsp?idx=<%=idx%>" style="margin:0 15px;"><%=subject%></a>
                    </td> 	      
                    <td>
                    <div align="center"><a href="mailto:<%=email%>"><%=name%></a></div>
                    </td>

                    <td>
                    <div align="center"><font size="2"><%=ymd%></div>
                    </td> 	      
                    <td>
                    <div align="center"><%=readcount%></div>
                    </td>
                </tr>  	

            </table>
                







                <form method="post" action="board-write-process.jsp" name="input" class="write_com">
                    <div align="center">
             
                     <table border="0" cellspacing="2" cellpadding="3">
                    
                            <tr class="user-view">
                                <td class="flex flex-ai-c">
                                <input type="hidden" name="idx" value="<%= idx %>">

                                    <img src="img/bok.png" alt="">
                                    <input type="hidden" name="in_name">
                                작성자</td>
                            </tr>
                    
                            <tr class="com_wrap">
                                <td class="td1">
                                    <textarea rows="12" cols="200"name="in_content"> <%= cont %></textarea>
                                </td>
                                <td>
                                    <div class="btn"> 
                                        <input type="button" name="write_submit" value="등   록" OnClick="in_check()" 
                                        class="btn1"
                                        style="background: white; border: 1px solid  red; padding: 101px 15px; ">
                                    </div>
                                </td>
                            </tr> 	 
                            <tr>    
                                    <td colspan="2"> 
                                    
                                    </td>
                                </tr>
                      
                      </table>
                      <input type="hidden" name="step" value="<%=step%>">
                      <input type="hidden" name="mid" value="<%=mid%>">
                      <input type="hidden" name="rnum" value="<%=rnum%>">  
             
             
                      
             
                  
                   </form>

















                </div>

            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>

        <script language="javascript">
            function in_check()
            {
                    if (document.input.in_content.value == "") 
                    {
                        alert("댓글을 입력해주세요...");
                        return;
                    }
    
                document.input.submit();
            }


            const $topBtn = document.querySelector(".moveTopBtn");

            // 버튼 클릭 시 맨 위로 이동
            $topBtn.onclick = () => {
                window.scrollTo({
                    top: 0,
                    behavior: "smooth"
                });
            }

            // 페이지 하단으로 초기 위치
            window.onload = () => {
                window.scrollTo({
                    top: document.body.scrollHeight
                });
            }
        </script>

</body>

</html>