html,
body {
    position: relative;
    height: 100%;
    
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: 'GowunDodum-Regular';
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'HeirofLightRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeirofLightBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YESMyoungjo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YESMyoungjo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.con {
    width: 1280px;
    margin: 0 auto;
}


.flex {
    display: flex;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-ai-c {
    align-items: center;
}

.flex-ai-sb {
    align-items: stretch;
}

.flex-as-c {
    align-self: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-end {
    justify-content: end;
}

.flex-wrap {
    flex-wrap: wrap;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}

.block {
    display: block;
}

.img-box>img {
    width: 100%;
    display: block;
}









.top-wrap>.top-box1 {
    margin: 20px auto 15px;
    width: 1280px;
}

.line {
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: 10;
    display: block;
}

.top-wrap>.top-box1>div,
.icon-box {
    width: 33.3%;
}

.top-wrap>.top-box1>.icon-box {
    float: left;
}

.top-wrap>.top-box1>.icon-box>.icon {
    padding: 0 0 0 15px;
    text-align: center;
    float: left;
    display: flex;
    font-family: 'GowunDodum-Regular';
}

.top-wrap>.top-box1>.icon-box>.cart {
    padding: 0 15px 0 15px;
}

/* .top-wrap>.top-box1>.icon-box>.login {
    background: red;
  }
  
  .top-wrap>.top-box1>.icon-box>.join {
    background: blue;
  }
  
  .top-wrap>.top-box1>.icon-box>.cart {
    background: green;
  } */

.top-wrap>.top-box1>.icon-box>.icon>.line-icon {
    display: flex;
    width: 1px;
    height: 50px;
    background: #707070;
    margin: 1px 0 0 15px;
}

/* .top-wrap>.top-box1>.icon-box>.icon:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 50px;
    margin: -10px 40px;
    background:#707070;
  } */

.top-wrap>.top-box1>.icon-box>.icon>a>.img-box {
    width: 31px;
    margin-bottom: 4px;
}

.top-wrap>.top-box1>.icon-box>.cart>a>.img-box {
    width: 33px;
    margin-bottom: 2px;
}

.top-wrap>.top-box1>.search-box>.icon>a>.img-box {
    width: 36px;
}

.top-wrap>.top-box1>.logo-box>.img-box>a>img {
    width: 150px;
}




.top-wrap>.top-box1>.search-box>.icon input {
    width: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: width .3s, border-bottom-color .3s;
    background-color: transparent;
    color: #707070;
    margin-right: 10px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

.top-wrap>.top-box1>.search-box:hover>.icon input {
    width: 170px;
    border-bottom-color: #707070;
}

















.top-wrap>.top-box2 {
    margin: 0px auto;
    width: 100%;
    font-size: 18px;
    color: #707070;
    background: white;
    /* position: fixed;
    top: 119px;
    left: 0;
    z-index: 100;
    background: white; */
    z-index: 100;
    font-family: 'GowunDodum-Regular';
}


.top-wrap>.top-box2>ul>li {
    padding: 23px 95.5px;
    position: relative;
    transition: all .4s;
}

.top-wrap>.top-box2>ul>li:hover {
    background: #ffeded;
}

.top-wrap>.top-box2>ul>li>div {
    visibility: hidden;
    position: absolute;
    z-index: 10;
}

/* .top-wrap > .top-box2 > ul>li:hover> div */
.top-wrap>.top-box2>ul>li:hover>div {
    visibility: visible;
    position: absolute;
    left: 0%;
    margin-top: 23px;
    background: white;
    width: 100%-50px;
    transition: all .4s;
}

/* .top-wrap > .top-box2 > ul>li:hover> div > ul > li */
.top-wrap>.top-box2>ul>li:hover>div>ul>li {
    width: 255px;
    padding: 25px 0;
    text-align: center;
    transition: all .4s;
}

.top-wrap>.top-box2>ul>li:hover>div>ul>li:hover {
    background: #ffeded;
}


/* 
  .top-wrap > .top-box2 > ul>li> div > ul > li:after{
    content: "";
    display: block;
    margin-top: 15px;
    border-bottom: 1px solid #707070;
    vertical-align: -1px;
  }
   */

.top-wrap>.top-box2>ul>li>div>ul>li:last-child::after {
    border: none;
}

.sub_con_box {
    width: 100%;
    background: #faf5f5;
}

.sub_con {
    width: 65%;
    margin: 0 auto;
    color: #3a3a3a;
    padding: 50px 0;
}


.sub_con > .sub_text1 {
    width: 48%;
    padding: 50px 30px;
}

.sub_con > .sub_text1 > h1 {
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}

.sub_con > .sub_text1 > p {
    font-size: 18px;
}

.sub_con > .sub_text1 > .price {
    font-size: 30px;
    padding: 80px 0 10px;
}

.sub_con > .sub_text1 > .price span{
    color: #ff5151;
    font-size: 32px;
    font-weight: bold;
}

.sub_con > .sub_text1 > .tag {
    font-size: 18px;
    padding-top: 10px;
    line-height: 35px;
}

.sub_con > .sub_text2 {
    width: 48%;
    padding: 110px 30px 50px;
    font-size: 18px;
}


.sub_con > .sub_text2 > .option {
    display: flex;
    margin-left: 28px;
}

.sub_con > .sub_text2 > .option select {
    font-size: 18px;
    padding: 10px 0;
    margin: -2% 0 0 23%;
    outline: none;
    border: 1px solid #ecd8d8;
}

.sub_con > .sub_text2 > .price-wrap {
    margin: 25px 0 0;
    background: #ffffff;
    color: #6e6e6e;
    padding: 30px 30px;
    font-size: 20px;
}

.sub_con > .sub_text2 > .price-wrap > p {
    margin: 0;
    display: block;
    text-align: end;
    padding: 10px 0 0;
    font-size: 16px;
}


.sub_con > .sub_text2 > .price-wrap > .price-box > .price1 {
    margin-left: 390px;
}

.sub_con > .sub_text2 > .price-wrap > .price-box > .price1 span {
    color: #ffbb61;
    font-size: 28px;
    font-weight: 600;
}

.sub_con > .sub_text2 > .btn-box {
    margin: 50px 0 0 19%;
}

.sub_con > .sub_text2 > .btn-box > a{
    padding: 20px 50px;
    background: #ffffff;
    border: 1px solid #ffc6c6;
    color: #ff9090;
    border-radius: 5px;
}

.sub_con > .sub_text2 > .btn-box > a:last-child{
    background: #ffa5a5;
    margin-left: 3%;
    color: #ffffff;
}


.sub_con_box1 {
    width: 100%;
    padding: 200px 0;
}


.sub_con_box1 > .sub_con1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.sub_con_box1 > .sub_con1 > p {
    font-size: 16px;
    color: #CB9F76;
    font-weight: 500;
    margin: 0;
    font-weight: bold;
}

.sub_con_box1 > .sub_con1 > h1 {
    font-size: 43px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.sub_con_box1 > .sub_con1 > .memo {
    color: #353535;
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
}

.sub_con_box1 > .sub_con1 > .con_wrap1 {
    width: 80%;
    margin: 100px auto;
}

.sub_con_box1 > .sub_con1 > .con_wrap1 > .con_box1 {
    width: 200px;
    height: 200px;
    padding: 30px;
    background: #faf5f5;
    border-radius: 50%;
}

.sub_con_box1 > .sub_con1 > .con_wrap1 > .con_box1 >.img-box {
    width: 80px;
    margin: 0 auto;
    
}




























@media (min-width: 1301px) and  ( max-width:1920px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 1280px;
	}
  }
  
  
  
  
  
  @media (min-width: 1051px) and ( max-width:1300px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 95%;
	}
  
	.top-wrap>.top-box2>ul>li {
	  padding: 23px 70px;
	} 
	.top-wrap>.top-box2>ul>li:hover>div>ul>li {
	  width: 204.5px;
	}

    /* footer */

.footer {
    width: 100%;
    position: relative;
    padding: 50px 0;
    background: rgb(56, 56, 56);
    margin-top: 150px;
    z-index: 99;
  }
  
  
  .footer > .text{
    color: white;
    text-align: center;
  
  }
  
  .footer > .text1 {
    padding-top: 20px;
  }
  
  
  .footer > .text > p {
    font-size: 14px;
  }
  
  }
  
  
  @media (min-width: 851px) and ( max-width:1050px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 95%;
	}
  
	.top-wrap>.top-box2>ul>li {
	  padding: 23px 45px;
	} 
	.top-wrap>.top-box2>ul>li:hover>div>ul>li {
	  width: 154.8px;
	}

  }
  
  
  @media (min-width: 500px) and ( max-width:850px) {
	/* 탑바 */
	.top-wrap>.top-box1 {
	  width: 95%;
	}
  
	.top-wrap>.top-box2>ul>li {
	  padding: 23px 25px;
	} 
	.top-wrap>.top-box2>ul>li:hover>div>ul>li {
	  width: 114.8px;
	}
}