* {list-style: none;}
  
::selection { color:rgb(255, 255, 255); background:hsl(0, 100%, 84%); }
  html,
  body {
	height: 100%;
  }
  
  a {
	color: inherit;
	text-decoration: none;
  }
  
  body {
	font-family: 'ChosunSg';
	color: #252525;
	margin: 0;
	padding: 0;
    background-color: rgb(236, 236, 236);
  }
  
  @font-face {
	font-family: 'ChosunSg';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
  

  .survery-content { 
	  width: 100%; height: 80%; display: block; padding: 10px 0 0px;
  }
  .survery-content> .survery-inner {
	  position: relative;
	  width: 40%; height: 85%; margin: 0 auto;  background: #fff;
	  box-shadow: 0px 2px 3px 0 rgba(51, 51, 51, 0.315);
  }
  .survery-content> .survery-inner>.survery-test{margin-top: 100px;}
  .survery-content> .survery-inner>.survery-test > h2 {
    margin-left: 50px; padding-top: 60px; color: #3a3a3a;
    border-bottom: 2px solid #ffdada; 
    padding-bottom: 40px; width: 85%;
  }
  .survery-test .qna-wrap {width: 80%; padding-left: 50px;}
  .survery-test .qna-wrap >li {padding-top: 30px; font-size: 20px; }

  input[type=checkbox] {width: 27px; height: 27px; display: none;}
  .label-checkbox {
    position: relative; display: inline-block; font-size: 20px; color: #333;
    padding-left: 44px; line-height: 20px;
  }
  .label-checkbox .input-checkbox+span{
    position: absolute; left: 0; top: 50%; margin-top: -12px;
    width: 27px; height: 27px;
    background:url(../img/test-nocheck.png) no-repeat center;
    background-size: 27px; background-position: 50% 50%;
  }
  .label-checkbox .input-checkbox:checked+span{
    background:url(../img/test-check.png) no-repeat center; 
    background-size: 27px; background-position: 50% 50%;
  }

 
  .survery-btn {
    position: absolute; right: 50px; bottom: 30px;
    width: 230px; height: 55px; line-height: 55px; color: #fff; 
    background-color: #ff9a9a; border: none;
    font-size: 18px; border-radius: 25px; font-weight: bold;
    box-shadow: 0px 5px 10px 0 rgba(51, 51, 51, 0.315);
    cursor: pointer; display: flex; justify-content:center;
  } 
.ssang {padding-top: 5px; padding-left: 10px;}

a > .close-test {
  position: absolute; right: -35px; top: -35px;
  width: 65px; height: 65px; border-radius: 100%;
  background-color: rgb(252, 252, 252); border: 1px solid rgb(226, 226, 226);
  font-size: 30px; font-weight: bold; text-align: center;
  line-height: 60px; 
  box-shadow: 0px 3px 5px 0 rgba(155, 155, 155, 0.315);
}
a > .close-test >img {width: 15px; height: 15px;}

  @media (min-width: 1051px) and ( max-width:1300px) {
    .survery-content> .survery-inner>.survery-test > h2 {width: 80%;}

  }
  
  
  @media (min-width: 851px) and ( max-width:1050px) {
    .survery-content> .survery-inner {width: 60%; }
    .survery-content> .survery-inner>.survery-test > h2 {width: 82%;}
  }
  
  
  @media (min-width: 500px) and ( max-width:850px) {
    .survery-content> .survery-inner {width: 80%; }
    .survery-content> .survery-inner>.survery-test > h2 {width: 77%;}

  }



.footer {
    width: 100%; height: 100px;
  }
  
  .footer p {
    font-size: 14px; color: #7c7c7c; text-align: center; 
    line-height: 100px;
  }